<mat-toolbar style="background-color: rgb(240, 128, 63);" class="mat-elevation-z10">
   <span><mat-icon>home</mat-icon>Hood</span> 

   <div class="spacer"></div>

   <a mat-button routerLink="hood">Hood</a>
   <a mat-button routerLink="authority">Authority</a>
   <a mat-button routerLink="business">Businesses</a>
   <a mat-button routerLink="health">Health Services</a>
   <a mat-button routerLink="notification">Notifications</a>
   <a mat-raised-button color="primary" routerLink="log-out">Log-Out</a>
</mat-toolbar>
