<div class="container">
    <h1 style="text-align: center;">POLICE POSTS</h1>
    <hr>

    <!-- <div class="row">
        <div class="col-md-6">
            <div ngFor='let post of post;let i=index'>
                <div>
                    <h4>{{post.name}} wrote on {{post.completeDate|date}}</h4>
                    <button (click)='toggleDetails(i)' class="btn btn-primary">show more</button>
                </div>
                <div *ngif='post.showDescription'>
                    <app-post-detail [post]='post'></app-post-detail>
                </div>
            </div>
    </div>
    <div class="col-md-6">
        <app-post-form (addPost)="addNewPost($event)"></app-post-form>
    </div>
</div> -->
</div>
