<div class="container">
    <div class="row">
      <div class="col-md-12 top-div" style="margin-top:40px;"></div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <a href="">
        <div class="card" style="width: 34rem;height:28rem;">
          <img class="card-img-top dark" src="https://images.pexels.com/photos/532001/pexels-photo-532001.jpeg?cs=srgb&dl=auto-automobile-blur-buildings-532001.jpg&fm=jpg" style="width:34rem;height:28rem;">
          <div class="centered">
            <h4 style="color: black; font-size:30px;">Authority</h4>
          </div>
        </div>
      </a>
      </div>
      <div class=" col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <a href="#">
        <div class="card" style="width: 34rem;height:28rem;">
          <img class="card-img-top dark" src="https://images.pexels.com/photos/1300576/pexels-photo-1300576.jpeg?cs=srgb&dl=two-person-drinking-coca-cola-next-to-a-kiosk-1300576.jpg&fm=jpg" style="width:34rem;height:28rem;">
          <div class="centered">
            <h4 style="color: black; font-size:30px;">Businesses</h4>
          </div>
        </div>
        </a>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12 top-div" style="margin-top:40px;"></div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <a href="">
          <div class="card" style="width: 34rem;height:28rem;">
            <img class="card-img-top dark" src="https://images.pexels.com/photos/263402/pexels-photo-263402.jpeg?cs=srgb&dl=ambulance-architecture-building-business-263402.jpg&fm=jpg" style="width:34rem;height:28rem;">
            <div class="centered">
              <h4 style="color: black; font-size:30px;">Health services</h4>
            </div>
          </div>
        </a>
        </div>
        <div class=" col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <a href="#">
          <div class="card" style="width: 34rem;height:28rem;">
            <img class="card-img-top dark" src="https://images.pexels.com/photos/280221/pexels-photo-280221.jpeg?cs=srgb&dl=aerial-view-architecture-autumn-cars-280221.jpg&fm=jpg" style="width:34rem;height:28rem;">
            <div class="centered">
              <h4 style="color: black; font-size:30px;">Notifications</h4>
            </div>
          </div>
          </a>
        </div>
      </div>
  </div>