/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-image: url('https://images.pexels.com/photos/194096/pexels-photo-194096.jpeg?cs=srgb&dl=abstract-architecture-background-brick-194096.jpg&fm=jpg');
}
